.contact {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.contact a{
    display: inline-flex;
    align-items: center;
    padding: 0 1px;
<<<<<<< HEAD
  }
=======
  }
>>>>>>> d4c05d4adb0059c765cd729eb95bb03315910133
